BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APPLICATION_CLIENT_ID
GUILD_ID=YOUR_DISCORD_SERVER_ID
GIVEAWAYS_FILE=../data/giveaways.json
BOT_SETTINGS_FILE=../data/bot-config.json
CONTACT_MESSAGES_FILE=../data/contact-messages.json
CONTACT_INBOX_CHANNEL_ID=YOUR_DISCORD_CONTACT_INBOX_CHANNEL_ID
DEFAULT_BANNER_URL=https://raw.githubusercontent.com/wobblingbottom/Crazyland-Webpage/main/banner.png
